/* #region RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}
/* #endregion */

/* #region COMMON COMPONENTS */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.section {
  padding: 96px 0;
}

@media (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* #endregion */

/* #region LOGO */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
}

@media (min-width: 768px) {
  .nav .logo {
    margin-right: 120px;
  }
}

@media (min-width: 1158px) {
  .nav .logo {
    margin-right: 76px;
  }
}

.logo-part {
  color: #2e2f42;
}

.logo-part-footer {
  color: #f4f4fd;
}
/* #endregion */

/* #region HEADER */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list,
.contacts {
  display: none;
}

@media (min-width: 768px) {
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .contacts {
    display: block;
    font-style: normal;
    margin-left: auto;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .mobile-menu-open-btn {
    display: none;
  }
}

@media (min-width: 1158px) {
  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }
}

.nav-link {
  position: relative;
  display: block;
  padding: 24px 0;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  color: #404bbf;
}

.nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: #404bbf;
  border-radius: 2px;
}

.contacts-link {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1158px) {
  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/* #endregion */

/* #region HERO */

.hero {
  max-width: 320px;
  margin: 0 auto;
  background-color: #2e2f42;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 72px 0;
}

/* Retina Hero Mobile */
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office-mob@2x.jpg);
  }
}

@media (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding: 112px 0;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office-tab@2x.jpg);
    }
  }
}

@media (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    padding: 188px 0;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office@2x.jpg);
    }
  }
}

.hero-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
  max-width: 216px;
  margin: 0 auto 72px;
}

@media (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}
@media (min-width: 1158px) {
  .hero-title {
    margin-bottom: 48px;
  }
}
.hero-button {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* #endregion */

/* #region FEATURES */

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.features-item {
  width: 100%;
}

.features-icon-container {
  display: none;
}

@media (min-width: 768px) {
  .features-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }
}

@media (min-width: 1158px) {
  .features-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .features-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
  }
}

.features-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

@media (min-width: 768px) {
  .features-subtitle {
    text-align: left;
  }
}

@media (min-width: 1158px) {
  .features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.features-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media (min-width: 1158px) {
  .features-text {
    font-weight: 400;
  }
}
/* #endregion */

/* #region TEAM */

.team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

@media (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

@media (min-width: 768px) {
  .team-list {
    column-gap: 24px;
    row-gap: 64px;
  }
}

@media (min-width: 1158px) {
  .team-list {
    gap: 24px;
  }
}

.team-item {
  background-color: #ffffff;
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media (min-width: 1158px) {
  .team-item {
    width: calc((100% - 72px) / 4);
  }
}

.team-card-content {
  padding: 32px 0;
  text-align: center;
}

.team-item img {
  display: block;
  max-width: 100%;
  height: auto;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.mobile-social-list {
  gap: 40px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}
/* #endregion */

/* #region PORTFOLIO */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
}

@media (min-width: 768px) {
  .portfolio-list {
    column-gap: 24px;
    row-gap: 72px;
  }
}

@media (min-width: 1158px) {
  .portfolio-list {
    row-gap: 48px;
    column-gap: 24px;
  }
}

.portfolio-item {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media (min-width: 768px) {
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media (min-width: 1158px) {
  .portfolio-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
  }
}

.portfolio-overlay-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-overlay,
.portfolio-item:focus .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item img {
  width: 100%;
  height: auto;
  display: block;
}

/* #endregion */

/* #region FOOTER */

.page-footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

@media (min-width: 1158px) {
  .page-footer {
    padding: 100px 0;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    max-width: 584px;
    gap: 72px 24px;
  }
}

@media (min-width: 1158px) {
  .footer-container {
    max-width: 1158px;
    flex-wrap: nowrap;
    align-items: baseline;
    gap: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.footer-info {
  text-align: center;
}

@media (min-width: 768px) {
  .footer-info {
    text-align: left;
    margin-right: 0;
  }
}

@media (min-width: 1158px) {
  .footer-info {
    margin-right: 120px;
  }
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
  text-align: left;
}

/* Social Media Footer */
.footer-social {
  text-align: center;
}

@media (min-width: 768px) {
  .footer-social {
    text-align: left;
  }
}

@media (min-width: 1158px) {
  .footer-social {
    margin-right: 80px;
  }
}

.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

@media screen and (max-width: 428px) {
  .mobile-social-list {
    gap: calc((100% - (40px * 4)) / 3);
  }
}
.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-list .social-link:hover,
.footer-social-list .social-link:focus {
  background-color: #31d0aa;
}

/* Subscribe Form */
.footer-subscribe {
  width: 100%;
}

@media (min-width: 768px) {
  .footer-subscribe {
    width: auto;
  }
}

.footer-subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

@media (min-width: 768px) {
  .footer-subscribe-title {
    text-align: left;
  }
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@media (min-width: 768px) {
  .footer-subscribe-form {
    flex-direction: row;
    gap: 24px;
  }
}

.footer-subscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-subscribe-input::placeholder {
  color: #ffffff;
}

.footer-subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  min-width: 165px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
  background-color: #404bbf;
}

.footer-subscribe-icon {
  margin-left: 16px;
  fill: #ffffff;
}
/* #endregion */

/* #region BACKDROP & MODAL */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow:
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 72px 16px 24px 16px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .modal {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #ffffff;
}

/* --- FORM CONTENT --- */

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-comment {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

/* --- CHECKBOX --- */

.modal-checkbox-wrap {
  margin-bottom: 24px;
}

.modal-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-custom-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.modal-checkbox:checked + .modal-checkbox-label .modal-custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.privacy-link {
  color: #4d5ae5;
  text-decoration: underline;
}

/* --- SUBMIT BUTTON --- */

.modal-submit-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: #404bbf;
}
/* #endregion */

/* #region MOBILE MENU */
.mobile-menu-container {
  position: relative;
  display: flex;
  flex-direction: column; /* Робимо колонку */
  height: 100%;
  padding: 72px 16px 40px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 999;
  transform: translateX(100%);
  visibility: hidden;
  pointer-events: none;
  transition:
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-nav {
  margin-bottom: auto; /* Виштовхує все інше вниз */
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}
.mobile-contacts-link.accent {
  color: #4d5ae5;
}
.mobile-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.mobile-nav-link.current {
  color: #404bbf;
}
.mobile-contacts-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mobile-menu.is-open {
  transform: translateX(0);
  visibility: visible;
  pointer-events: auto;
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* #endregion */
